specifikacio/specifikacio.aux
specifikacio/specifikacio.log
specifikacio/specifikacio.out
specifikacio/specifikacio.pdf
specifikacio/specifikacio.synctex.gz
specifikacio/specifikacio.tex
specifikacio/specifikacio.toc
specifikacio/hirdeteseim.png
specifikacio/index.png
specifikacio/login.png
specifikacio/profil.png
specifikacio/ckt1qi.zip
ckt1qi_hazi2.zip
ckt1qi_hazi3.zip
ckt1qi_hazi4.zip
ckt1qi_hazi5.zip
