<!doctype html>
<html>

<head>
    <link href="bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title> <%= (typeof pagetitle === 'undefined') ? 'X-Wing Trade Center' : pagetitle %></title>

    <style>
        body {
            background-image: url('background.jpg');
        }
    </style>


</head>
<body>