<%- include('header') -%>

<%- include('menu') -%>

    <div class="container">
        <div class="row">
            <div class="col-6 bg-light align-self-auto m-auto mt-5 kerekitett">
                <form method="POST">
                    <div class="text-center">
                    <img class="mb-1 mt-2" src="/public/img/xwing_icon.png" alt="" width="230" height="70">
                </div>
                    <div class="mb-3">
                        <label for="name" class="form-label mt-2">Név</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Kis József">

                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label mt-2">Email cím</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="jozsika@gmail.com">

                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label mt-2">Telefonszám</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+36 30 123 4567"
                            aria-describedby="phoneNumberHelp">
                        <div id="phoneNumberHelp" class="form-text m-auto p-1">
                            Telefonszámot ország hívójellel együtt add meg. Pl.: +36 30 123 4567
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label">Jelszó</label>
                        <input type="password" class="form-control" id="inputPassword1" name="inputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword2" class="form-label">Jelszó mégegyszer</label>
                        <input type="password" class="form-control" id="inputPassword2" name="inputPassword2" aria-describedby="passwordHelp">
                        <div id="passwordHelp" class="form-text m-auto p-1">
                            A jelszónak tartalmaznia kell 8-20 karaktert, kis- és nagybetűt valamint egy számot.
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn-lg btn-primary mb-1" value="Regisztrálok"/>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-sm btn-outline-primary mb-3" href="/login" role="button">Vissza a bejelentkezéshez</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <%- include('footer') -%>